body {
    background-color: #eb6123;
    color: #fff;
  }

  .table {
    background-color: #eeeeee;
  }

  th {
    background-color: #8a4527;
    color: #fff;
  }

  td {
    background-color: #eeeeee;
  }

.register-heading{
font-family: Fruktur, serif;
font-size: 4rem;
font-weight: bold;
text-align: center;
margin-top: 2rem;
margin-bottom: 1rem;
color: #52006A;
}

.banner {
  width: 100%;
  height: auto;
}

.prize-image{
  width:150px;
  height:150px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header img {
  width: 50px; /* adjust the width as needed */
  height: auto; /* adjust the height as needed */
  margin-right: 10px; /* adjust the margin as needed */
}