<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lightning Manor</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .register {
        width: 100%;
        height: 100vh;

        background: linear-gradient(rgba(16, 16, 16, 0.6), rgba(26, 26, 26, 0.6)),
                    url('/static/images/room4.jpg') center center / cover no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    </style>
  </head>
  <body>
    <section class="register">
      <div class="register-content">
        <h1 class="register-heading">Lightning Manor</h1>
        <h1 class="trap">YOU FELL INTO OUR TRAP</h1>
        <h1 class="trap">THERE IS NO ESCAPE</h1>
      </div>
    </section>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
