<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Carnival Chaos Gates</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
      .register {
        width: 100%;
        height: 100vh;

        background: linear-gradient(rgba(16, 16, 16, 0.6), rgba(26, 26, 26, 0.6)),
                    url('/static/images/room1.jpg') center center / cover no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <section class="register">
      <div class="register-content">
        <h1 class="register-heading">Lightning manor</h1>
        <h2 class="register-low-heading">
          You think you can escape me? You are sorely mistaken
        </h2>
        <div id="failCountMessage"></div>
        <button id="escapeButton" class="btn escape-btn">Escape</button>
      </div>
    </section>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/entrance.js"></script>
  </body>
</html>