<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Manor of Madness Login</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .register {
        width: 100%;
        height: 100vh;

        background: linear-gradient(rgba(16, 16, 16, 0.6), rgba(26, 26, 26, 0.6)),
                    url('/static/images/room3.jpg') center center / cover no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    </style>
  </head>
  <body>
    <section class="register">
      <div class="register-content">
        <h1 class="register-heading">Manor of Madness</h1>
        <h1 class="register-low-heading">Ghoul's gate</h1>
        <h1 class="register-low-heading-2">You think you can get through here? Only the souls claimed by this house can pass this point</h1>
        <div id="failCountMessage"></div>
        <p style="color: white;">Token: scary</p>
        <form id="loginForm">
          <div class="input-group">
            <label for="username" class="field-label">Username</label>
            <input type="text" class="field" id="name" required>
          </div>
          <div class="input-group">
            <label for="password" class="field-label">Incantation</label>
            <input type="password" class="field" id="incantation" required>
          </div>
          <input type="submit" value="Escape" class="btn escape-btn">
        </form>
        
      </div>
    </section>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/gate2.js"></script>
  </body>
</html>