<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Carnival Chaos Login</title>
    <link rel="stylesheet" href="/static/css/style1.css">
  </head>
  <body>
    <section class="register">
      <div class="register-wrapper">
          <div class="register-left"></div>
          <div class="register-right">
              <h1 class="register-heading">Carnival Chaos</h1>
              <h1 class="register-low-heading">Admin Login</h1>
              <form id="loginForm">
                  <div class="input-group">
                      <label for="username" class="field-label">Username</label>
                      <input type="text" class="field" id="username" required>
                  </div>
                  <div class="input-group">
                      <label for="password" class="field-label">Password</label>
                      <input type="password" class="field" id="password" required>
                  </div>
                  <input type="submit" value="Log In" class="btn">
              </form>
          </div>
      </div>
  </section>
</div>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/gate1.js"></script>
</body>
</html>